
<section id="sistema">
  <div class="container_left">
    <img class="logo" src="../assets/sigvri.png" alt="logo-sigvri">
    <div class="title">
      <h1>Sistema Integrado del Vicerrectorado</h1>
    </div>
  </div>
  <div class="container_rigth">
    <div><img class="logo _rigth" src="../assets/vri-logo.png" alt="logo-vri"></div>
    <div><img class="logo _rigth" src="../assets/unamad.png" alt="logo-unamad"></div>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-12">
      <section class="_container _primary">
        <a class="box" target="_blank" href="convocatorias">
          <div class="logo">
            <img src="../assets/convocatoria.png" alt="icono-convocatoria">
          </div>
          <div class="nombre">Convocatorias</div>
        </a>
        <a class="box" target="blank" href="https://www.sispro.unamad.com/">
          <div class="logo">
            <img src="../assets/sispro.png" alt="icono-sispro">
          </div>
          <div class="nombre">SISPRO <small>Seguimiento</small></div>
        </a>
        <a class="box" target="blank" href="repositorio">
          <div class="logo">
            <img src="../assets/repositorio.png" alt="icono-repositorio">
          </div>
          <div class="nombre">Repositorio</div>
        </a>
        <a class="box" target="blank" href="https://www.turnitin.com/es">
          <div class="logo">
            <img src="../assets/turnitin.png" alt="icono-turnitin">
          </div>
          <div class="nombre">Turnitin</div>
        </a>
        <a class="box" target="blank" href="cursos">
          <div class="logo">
            <img src="../assets/cursos.png" alt="icono-cursos">
          </div>
          <div class="nombre">Cursos y Talleres</div>
        </a>
      </section>
    
      
      <section class="_container _secondary">
        <a class="box" target="_blank" href="/">
          <div class="logo">
            <img src="../assets/sustentaciones.png" alt="icono-sustentaciones">
          </div>
          <div class="nombre">Sustentaciones</div>
        </a>
        <a class="box" target="_blank" href="/sustentaciones">
          <div class="logo">
            <img src="../assets/archivo.png" alt="icono-archivo">
          </div>
          <div class="nombre">Archivo Digital</div>
        </a>
        <a class="box" target="_blank" href="/eventos">
          <div class="logo">
            <img src="../assets/eventos.png" alt="icono-eventos">
          </div>
          <div class="nombre">Eventos</div>
        </a>
      </section>
    </div>
  </div>
</div>
  
