nav{
    background: var(--green);
    box-shadow: 0px 2px 14px #00000066;
    .left{
        display: flex;
        .logo-vri{
            width: 58px;
            background: white;
            border-radius: 50%;
        }
        .texto{
            padding-left: 10px;
            line-height: 0;
        }
    }
}

main{
    background: #eefcff;
    // padding-top: 50px;
    min-height: 100vh;
}
