<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand left" href="#">
      <img class="logo-vri" src="../assets/vri-logo.png" alt="logo-vri">
      <div class="texto">
        <div><h3>VRI</h3></div>
        <div><small>UNAMAD</small></div>
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

      </ul>
        <ul class="navbar-nav  mb-2 mb-lg-0" >
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Reglamentos</a>
          </li>
        </ul>
    </div>
  </div>
</nav>
<section id="sistema">
  <div class="container_left">
    <img class="logo" src="../assets/sigvri.png" alt="logo-sigvri">
    <div class="title">
      <h1>Sistema Integrado del Vicerrectorado</h1>
    </div>
  </div>
  <div class="container_rigth">
    <div><img class="logo _rigth" src="../assets/vri-logo.png" alt="logo-vri"></div>
    <div><img class="logo _rigth" src="../assets/unamad.png" alt="logo-unamad"></div>
  </div>
</section>
<main>
  <section class="_container _primary">
    <a class="box" target="_blank" href="/convocatorias">
      <div class="logo">
        <img src="../assets/convocatoria.png" alt="icono-convocatoria">
      </div>
      <div class="nombre">Convocatorias</div>
    </a>
    <a class="box" target="blank" href="/https://www.sispro.unamad.com/">
      <div class="logo">
        <img src="../assets/sispro.png" alt="icono-sispro">
      </div>
      <div class="nombre">SISPRO <small>Seguimiento</small></div>
    </a>
    <a class="box" target="blank" href="/repositorio">
      <div class="logo">
        <img src="../assets/repositorio.png" alt="icono-repositorio">
      </div>
      <div class="nombre">Repositorio</div>
    </a>
    <a class="box" target="blank" href="/https://www.turnitin.com/es">
      <div class="logo">
        <img src="../assets/turnitin.png" alt="icono-turnitin">
      </div>
      <div class="nombre">Turnitin</div>
    </a>
    <a class="box" target="blank" href="/cursos">
      <div class="logo">
        <img src="../assets/cursos.png" alt="icono-cursos">
      </div>
      <div class="nombre">Cursos y Talleres</div>
    </a>
  </section>

  
  <section class="_container _secondary">
    <a class="box" target="_blank" href="/">
      <div class="logo">
        <img src="../assets/sustentaciones.png" alt="icono-sustentaciones">
      </div>
      <div class="nombre">Sustentaciones</div>
    </a>
    <a class="box" target="_blank" href="/sustentaciones">
      <div class="logo">
        <img src="../assets/archivo.png" alt="icono-archivo">
      </div>
      <div class="nombre">Archivo Digital</div>
    </a>
    <a class="box" target="_blank" href="/eventos">
      <div class="logo">
        <img src="../assets/eventos.png" alt="icono-eventos">
      </div>
      <div class="nombre">Eventos</div>
    </a>
  </section>

  <section class=" _container _constancias">
    <a class="box" href="/contancia/nodeudor">
      <div class="logo">
        <img src="../assets/contancia.png" alt="icono-constancia">
      </div>
      <div class="nombre">Constancia de No deudor</div>
    </a>
    <a class="box" href="/contancia/investigacion">
      <div class="logo">
        <img src="../assets/contancia.png" alt="icono-constancia">
      </div>
      <div class="nombre">Constancia de Investigación Activo</div>
    </a>
  </section>
</main>
<footer>
  
</footer>