<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand left" href="#">
      <img class="logo-vri" src="../assets/vri-logo.png" alt="logo-vri">
      <div class="texto">
        <div><h3>VRI</h3></div>
        <div><small>UNAMAD</small></div>
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

      </ul>
        <ul class="navbar-nav  mb-2 mb-lg-0" >
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/reglamentos">Reglamentos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/login">Iniciar Sesion</a>
          </li>
        </ul>
    </div>
  </div>
</nav>

<main>
  <router-outlet></router-outlet>
  <!-- <app-home-page></app-home-page>> -->
</main>



<footer>
  
</footer>